@using Microsoft.AspNetCore.Identity
@inject SignInManager<SingleUser> SignInManager
@inject UserManager<SingleUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Account" asp-page="/Create">Create Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Login" asp-page="/Login">Login</a>
    </li>
}
</ul>
