@using Microsoft.AspNetCore.Identity
@inject SignInManager<SingleUser> SignInManager
@inject UserManager<SingleUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">Create Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
    </li>
}
</ul>
