@page
@model TigerTix.Web.Areas.Event.Models.EventModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

        <body>
         <h1 style="text-align:center">Create an Event</h1>
        
            <form method="post">
                <div class="row justify-content-center">
                    <div class="form-group col-2">
                        <label asp-for="EventType" class="control-label">Event Type</label>
                        <input asp-for="EventType" class="form-control mb-2"/>
                        <span asp-validation-for="EventType" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-2">
                        <label asp-for="EventName" class="control-label">Event Name</label>
                        <input asp-for="EventName" class="form-control mb-2" />
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-2">
                        <label asp-for="EventDateTime" class="control-label">Event Date and Time</label>
                        <input asp-for="EventDateTime" class="form-control mb-2" />
                        <span asp-validation-for="EventDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="EventLocation" class="control-label">Event Location</label>
                        <input asp-for="EventLocation" class="form-control mb-2" />
                        <span asp-validation-for="EventLocation" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="row justify-content-center ">
                    <div class="form-group col-2">
                        <label asp-for="EventDescription" class="control-label">Event Description</label>
                        <input asp-for="EventDescription" class="form-control mb-2" />
                        <span asp-validation-for="EventDescription" class="text-danger"></span>
                    </div>
                    
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="form-group col-auto">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
         <br />

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
