@page
@model TigerTix.Web.Areas.Ticket.Models.TicketModel
@{
    ViewData["Title"] = "Ticket";
    Layout = "_Layout";
}

<div id="Ticket">
    <h3 class="text-center text-white pt-5">Tickets</h3>
</div>

